#landing {
    width: 100%;
    height: 100%;
    position: relative;
    #loader {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        @include flexbox();
        @include justify-content(center);
        @include align-items(center);
        background-color: $color-1;
        z-index: 200;
    }
    #header {
        z-index: 200;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        margin: 0 auto;
        transition: background-color 0.3s ease-in;
        &.white {
            background-color: $color-1;
        }
        .header-inner {
            @include flexbox();
            @include justify-content(space-between);
            width: 100%;
            max-width: 2000px;
            margin: 0 auto;
            &.open {
                .header-inner-open-mobile {
                    opacity: 1;
                    pointer-events: all;
                }
                .mobile {
                    .nav-icon:before {
                        transform: translateY(12px) rotate(135deg);
                    }

                    .nav-icon:after {
                        transform: translateY(-12px) rotate(-135deg);
                    }

                    .nav-icon div {
                        transform: scale(0);
                    }
                }
            }
            .mobile {
                display: none;
                .header-button {
                    padding: 10px;
                }
                .nav-icon {
                    margin: 1em;
                    width: 40px;
                }

                .nav-icon:after,
                .nav-icon:before,
                .nav-icon div {
                    background-color: $color-2;
                    content: "";
                    display: block;
                    height: 5px;
                    margin: 7px 0;
                    transition: all 0.2s ease-in-out;
                }
            }
            .header-inner-open-mobile {
                @include flexbox();
                @include flex-direction(column);
                @include justify-content(center);
                @include align-items(center);
                pointer-events: none;
                opacity: 0;
                background-color: #fffffff0;
                position: absolute;
                height: calc(100vh - 69px);
                top: 69px;
                left: 0;
                width: 100%;
                transition: opacity 0.2s ease-in;
                .header-button {
                    width: 100%;
                    font-size: 20px;
                }
            }
            &.white {
                .header-inner-left,
                .header-inner-right {
                    .header-button {
                        // color: red;
                    }
                }
            }
        }
    }
    .header-button {
        padding: 25px;
        box-sizing: border-box;
        font-size: 10px;
        text-transform: uppercase;
        letter-spacing: 2px;
    }
    #main {
        height: 100vh;
        .main-top {
            height: 60vh;
            position: relative;
            svg {
                width: 100%;
                height: 100%;
                stroke: $color-3;
            }
            .main-top-content {
                @include flexbox();
                @include flex-direction(column);
                @include justify-content(space-between);
                @include align-items(center);
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                .main-top-empty {
                    height: 63px;
                }
                .main-top-text {
                    .header-small,
                    .header-medium,
                    .header-large {
                        width: 100%;
                        text-align: center;
                        text-transform: uppercase;
                        letter-spacing: 5px;
                        margin-bottom: 15px;
                    }
                    .header-small {
                        font-size: 30px;
                    }
                    .header-medium {
                        font-size: 40px;
                    }
                    .header-large {
                        font-size: 50px;
                    }
                }
                .main-scroll-wrapper {
                    width: 100%;
                }
            }
        }
        .main-bottom {
            height: 40%;
            // max-height: 300px;
            background-image: url("../main-bottom-background.png");
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            @include flexbox();
            @include align-items(center);
            @include justify-content(center);
        }
    }
    #project,
    #why,
    #sponsors,
    #about {
        box-sizing: border-box;
        padding: 100px 0 0 0;
        width: 100%;
        position: relative;
        .section-content {
            @include flexbox();
            @include justify-content(space-between);
            .section-content-left,
            .section-content-right {
                width: calc(50% - 20px);
                transition-property: opacity transform;
                transition-duration: 0.6s;
                img {
                    width: 100%;
                }
                &.visible {
                    opacity: 1;
                    transform: translateX(0);
                }
            }
            .section-content-left {
                transform: translateX(-50px);
            }
            .section-content-right {
                transform: translateX(50px);
            }
        }
        .horizontal-line {
            bottom: 50px;
        }
    }
    #about {
        margin: 100px auto;
        width: 100%;
        max-width: 1000px;
        .section-title {
            margin: 0 auto;
        }
        .section-content {
            margin: 50px auto;
        }
        .section-person {
            .section-person-details {
                &.special {
                    padding: 0;
                }
            }
        }
        .vertical-line {
            left: 0;
            top: -150px;
        }
    }
    #contact {
        margin-top: 300px;
        width: 100%;
        height: 600px;
        @include flexbox();
        .contact-left {
            background-color: $color-2;
            width: 50%;
            @include flexbox();
            @include flex-direction(column);
            @include align-items(center);
            @include justify-content(center);
            .title {
                font-size: 35px;
                color: $color-1;
                text-transform: uppercase;
                letter-spacing: 2px;
                opacity: 0.7;
                margin-bottom: 20px;
            }
            .phone,
            .email {
                opacity: 0.5;
                margin-top: 30px;
                font-size: 30px;
                color: $color-1;
                letter-spacing: 2px;
            }
        }
        .contact-right {
            background-image: url("../main-bottom-background.png");
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            @include flexbox();
            @include align-items(center);
            @include justify-content(center);
            width: 50%;
        }
    }
    .section-title {
        font-size: 30px;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin: 100px auto 0;
        width: 100%;
        max-width: 1000px;
        transition-property: opacity transform;
        transition-duration: 0.6s;
        transform: translateY(50px);
        &.visible {
            opacity: 1;
            transform: translateX(0);
        }
    }
    .section-content {
        margin: 100px auto 50px;
        width: 100%;
        max-width: 1000px;
        line-height: 35px;
        .text {
            padding-bottom: 50px;
            box-sizing: border-box;
        }
        transition-property: opacity transform;
        transition-duration: 0.6s;
        transform: translateY(50px);
        &.visible {
            opacity: 1;
            transform: translateX(0);
        }
    }
    .section-person {
        width: 100%;
        max-width: 1000px;
        margin: 0 auto 150px;
        @include flexbox();
        .section-person-image {
            width: 300px;
            transition-property: opacity transform;
            transition-duration: 0.6s;
            transform: translateY(50px);
            img {
                width: 100%;
            }
        }
        .section-person-details {
            padding-left: 100px;
            box-sizing: border-box;
            width: calc(100% - 300px);
            .section-person-title {
                font-size: 25px;
                transition-property: opacity transform;
                transition-duration: 0.6s;
                transform: translateX(50px);
            }
            .section-person-content {
                margin-top: 30px;
                font-size: 14px;
                line-height: 30px;
                transition-property: opacity transform;
                transition-duration: 0.6s;
                transition-delay: 0.3s;
                transform: translateX(50px);
            }
        }
        &.visible {
            .section-person-image {
                opacity: 1;
                transform: translateY(0);
            }
            .section-person-details {
                .section-person-title {
                    opacity: 1;
                    transform: translateX(0);
                }
                .section-person-content {
                    opacity: 1;
                    transform: translateX(0);
                }
            }
        }
    }
    .horizontal-line {
        position: absolute;
        width: 0;
        height: 1px;
        left: 0;
        z-index: -1;
        background-color: $color-3;
        transition-property: width;
        transition-duration: 2s;
        &.visible {
            width: 100%;
        }
    }
    .vertical-line {
        position: absolute;
        height: 100%;
        left: 0;
        z-index: -1;
        .vertical-line-inner {
            height: 0;
            width: 1px;
            background-color: $color-3;
            transition-property: height;
            transition-duration: 8s;
        }
        &.visible {
            .vertical-line-inner {
                height: 100%;
            }
        }
    }
    .invisible {
        opacity: 0;
    }
}

@media (max-width: 600px) {
    #landing {
        #header {
            .header-inner {
                .desktop {
                    display: none;
                }
                .mobile {
                    display: block;
                }
            }
        }
        #main {
            .main-top {
                .main-top-content {
                    .main-top-text {
                        .header-small {
                            font-size: 20px;
                        }
                        .header-medium {
                            font-size: 25px;
                        }
                        .header-large {
                            font-size: 30px;
                        }
                    }
                }
            }
        }
        .section-title {
            margin: 40px auto 0;
        }
        .section-content {
            margin: 40px auto 80px;
            @include flex-direction(column);
        }
        .section-person {
            margin: 0 auto 100px;
            @include flex-direction(column);
            .section-person-image {
                width: 100%;
            }
            .section-person-details {
                padding-left: 0;
                width: 100%;
                .section-person-title {
                    margin-top: 50px;
                }
                .section-person-content {
                    margin-top: 30px;
                }
            }
        }
        #project,
        #why,
        #sponsors,
        #about {
            padding: 50px;
            box-sizing: border-box;
            width: 100%;
            position: relative;
            .section-content {
                .section-content-left,
                .section-content-right {
                    width: 100%;
                }
            }
            .horizontal-line {
                bottom: 50px;
            }
        }

        #about {
            margin: 50px auto;
            width: 100%;
            max-width: 1000px;
            .section-title {
                margin: 40px auto 0;
            }
            .section-content {
                margin: 40px auto 80px;
            }
            .section-person {
                .section-person-details {
                    &.special {
                        padding: 0;
                    }
                }
            }
            .vertical-line {
                left: 20px;
                top: -100px;
            }
        }

        #contact {
            @include flex-direction(column);
            margin-top: 0;
            height: calc(90vh - 69px);
            .contact-left,
            .contact-right {
                width: 100%;
                height: 50%;
            }
        }
    }
}
