@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

$color-1: #ffffff;
$color-2: #1A1A1A;
$color-3: #adadad;

$font-1: 'Libre Baskerville', serif;

$body-font-size: 16px;
$header-button-font-size: 10px;
$header-button-font-size-2: 20px;
$header-small-font-size: 3vh;
$header-small-font-size-1: 20px;
$header-medium-font-size: 4vh;
$header-medium-font-size-1: 25px;
$header-large-font-size: 5vh;
$header-large-font-size-1: 30px;
$main-button-font-size: 15px;
$contact-title-font-size: 35px;
$contact-values-font-size: 30px;
$contact-values-font-size-1: 20px;
$section-title-font-size: 30px;
$section-title-font-size-1: 20px;
$section-person-title-font-size: 25px;
$section-person-content-font-size: 16px;